<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/Productdetail-styles.css"/>
    <title> </title>
  </head>
  <body>

<!--INICIO DEL HEADER-->
<%- include('./partials/header') %>
<!--FIN DEL HEADER-->
<div class="profile">
<br>
<br>
<h2>SOY EL PROFILE DEL USUARIO <%= user.firstName %> <%= user.lastName %></h2>
<br>
<div><%= user.email %></div>
<br>

</div>

<!--INICIO DEL FOOTER-->
<%- include('./partials/footer') %>
<!--FIN DEL FOOTER-->



        
  </body>
</html>